 
# Allow recovery to start the keystore service
allow recovery ctl_interface:file write;
allow recovery property_service:service_manager set;

# Allow recovery to communicate with keystore
allow recovery keystore:unix_stream_socket connectto;
allow recovery keystore:dir search;
allow recovery keystore:file { read write open };
