on boot
    mkdir /data/misc/keystore 0770 keystore keystore
    chmod 0755 /data/misc/keystore
    chown keystore keystore /data/misc/keystore

service keystore2 /system/bin/keystore2
    class main
    user keystore
    group keystore
    capabilities SYS_BOOT
    writepid /dev/cpuset/foreground/tasks

on init
    start keystore2

service keystore2 /system/bin/keystore2 /tmp/misc/keystore
    class early_hal
    user root
    group keystore readproc log
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0
